#wc-kambaz {
    display: flex;
    height: 100vh;
    /* Full viewport height */
}

.wd-kambaz-container {
    display: flex;
    width: 100%;
}

.wd-kambaz-navigation {
    width: 250px;
    /* Sidebar width */
    background-color: #f8f9fa;
    /* Light gray background */
    padding: 20px;
}

.wd-kambaz-content {
    flex-grow: 1;
    /* Takes the remaining space */
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.list-group.wd .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}


.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}